* {
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: auto;
    min-height: 900px;
}

body {
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.sf1 {
    height: 100%;
    background-image: url("Immagini/back.jpg");
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
}

/* MENU */

.header_index {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 2px;
}

.header {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 2px;
}

.logo img {
    width: 250px;
    height: 80px;
    border-radius: 10px;
}

.menu ul{
    margin-right: 20px;
    list-style: none;
    display: flex;
}

.menu li{
    border-bottom-style: solid;
    border-color:  whitesmoke;
    border-width: 2px;
    margin: 10px 0px 10px 0px;
    padding: 15px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: medium;
    color: black;
}

.menu .current {
    border-color: gray;
}

/* FOOTER */

.footer {
    padding: 20px 0px 20px 0px;
    background-color: black;
    color: white;
}

.footer span {
    padding: 0px 20px 0px 20px;
}

.footer i {
    padding: 0px 40px 0px 40px;
}

/* PAGINA CENTRALE */

.page {
    /* margin-top: 20px; */
    display: flex;
    width: auto;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.page h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    
    vertical-align: baseline;
}

#introduzione {
    text-align: center;
}

.page #descrizione {
    align-items: flex-end;
}


.content {
    padding-top: 10%;
    padding-left: 45%;
    width: 50%;
    height: 50%;
    font-size: 200%;
    text-align-last: end;
}

.grid {
    text-align: center;
    display: grid;
    grid-column: 3;
    grid-row: 2;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
}

.grid img {
    width: 400px;
    height: 400px;
}

.riga img{
    padding: 50px 50px 50px 50px;
}

/* LOGIN */

.main {
    width: auto;
    height: auto;
    min-height: 650px;
    font-family: "Roboto";
    font-size: 14px;
}

.logo_log {
    margin-top: 30px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo_log img {
    width: 250px;
    height: 80px;
}

.login {
    height: 300px;
    width: 350px;
    background-color:white;
    border-radius: 6px;
    border: 1px solid grey;
    font-size: 20px;
    margin: 20px auto;
    line-height: 30px;
    background-color: #f6f8fa;
}

.login input {
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
}

#button {   
    padding: 20px;
    color: #2ea44f;
}

#title {
    margin: 40px 0px 10px 0px;
    text-align: center;
}

.login #item {
    padding: 20px;
    text-align: start;
}

/* REGISTRAZIONE */

.registrazione {
    width: 550px;
    height: 850px;
    font-size: 20px;
    margin: 30px 300px;
    line-height: 30px;
}


.registrazione input {
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
}

.registrazione #item {
    padding: 10px 20px 10px 20px;
    text-align: start;
}

.captcha {
    display: flex;
    align-items: center;
}

.captcha #item {
    display: flex;
}

.submit {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 3px 8px 3px 8px;
    background: #2ea44f;;
    border: 1px solid grey;
    border-radius: 15px;
}

#captcha p {
    text-align: center;
}
#captcha {
    padding: 5px;
    text-align: end;
}

/* AREA CLIENTE */

.area_cliente {
    width: auto;
    height: auto;
    min-height: 750px;
    background-image: url("Immagini/a.jpg");
    background-size: cover;
}

.utente {
    height: auto;
    text-align: right;
    padding: 20px 50px 20px 50px;
    font-size: 20px;
    background-color: whitesmoke;
    margin-bottom: 40px;
}

#home_utente {
    text-align: center;
}

#home_utente img {
    width: 300px;
    height: 200px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.9);
}

#home_utente #item {
    display: block;
}

.monitoraggio {
    padding-top: 20px;
}

#monitoraggio_title {
    text-align: center; 
}

.comment {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.comment a {
    color: red;
    text-decoration: none;
}

.page1 {
    padding-top: 30px;
}

.card {
    text-align: center;
    background-color: gray;
    width: 550px;
    height: 300px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 40px;
    font-size: 15px;
}
.card h1 {
    text-align: center;
    padding: 30px;
}

.card h2 {
    padding: 5px;
}

.skipass {
    display: flex;
}

.piani {
    margin-left: 100px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}

.piani #submit{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
}

.piani #submit_admin{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid grey;
    width: 200px;
    height: 30px;
}

.qrcode {
    margin-top: 50px;
    text-align: center;
}
 
.tabella_prenotazioni{
    /* background-color: rgba(255, 255, 255, 0.9); */
    display: flex;
    padding-top: 20px;
} 

.prenotazioni {
    border-style: solid;
    border-color: black;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
}

.prenotazioni td {
    padding: 10px 10px 10px 10px;
    border-color: black;
    border-style: solid;
}

.prenotazioni a {
    text-decoration: none;
    color: black
}

.prenotazione{
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: auto;
    font-size: 20px;
}


.prenotazione input {
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.prenotazione h2{
    margin-bottom: 30px;
}

.legenda {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
}


.tabella_utenti {
    display: flex;
    margin-top: 20px;
    font-size: 13px;
}

.utenti {
    border-style: solid;
    border-color: black;
}

.utenti td {
    padding: 10px 10px 10px 10px;
    border-color: black;
    border-style: solid;
}

.modifica_dati {
    padding-top: 40px;
}

.modifica_dati_form{
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: auto;
    font-size: 20px;
}

.modifica_dati_form input {
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.info_utente {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: auto;
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
}

.info_utente h2{
    margin-top: 20px;
}

.error {
    text-align: center;
}

.separatore {
    height: 7px;
    color: grey;
    background-color: grey;
    border: none;
}

.ricerca {
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: auto;
    width: 550px;
    height: auto;
    font-size: 20px;
}

.ricerca form{
    margin-top: 20px;
}

.ricerca input{
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.matched {
    background-color: green;
}

.not-matched {
background-color: red;
}

.tabella_calendario{
    /* background-color: rgba(255, 255, 255, 0.9); */
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
} 

.calendario {
    border-style: solid;
    border-color: black;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
}

.calendario td {
    padding: 10px 10px 10px 10px;
    border-color: black;
    border-style: solid;
}

.calendario a {
    text-decoration: none;
    color: black
}

.rosso {
    color: red;
}

.verde {
    color:green;
}

.area_admin {
    width: auto;
    height: auto;
    min-height: 750px;
    background-image: url("Immagini/d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}

.admin {
    height: auto;
    text-align: right;
    padding: 20px 50px 20px 50px;
    font-size: 20px;
    background-color: whitesmoke;
    margin-bottom: 40px;
}

#home_admin {
    text-align: center;
}

.tabella_utenti_admin {
    display: flex;
    margin-top: 20px;
    font-size: 15px;
}

.utenti_admin {
    background-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-color: black;
}

.utenti_admin td {
    padding: 10px 10px 10px 10px;
    border-color: black;
    border-style: solid;
}

.utenti_admin a {
    text-decoration: none;
    color: black
}

.tabella_prenotazioni_admin{
    /* background-color: rgba(255, 255, 255, 0.9); */
    display: flex;
    padding-top: 20px;
}

.prenotazioni_admin {
    border-style: solid;
    border-color: black;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
}

.prenotazioni_admin td {
    padding: 10px 10px 10px 10px;
    border-color: black;
    border-style: solid;
}

.prenotazioni_admin a {
    text-decoration: none;
    color: black
}

.ricerca_admin {
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: auto;
    width: 550px;
    height: auto;
    font-size: 20px;
}

.ricerca_admin form{
    margin-top: 20px;
}

.ricerca_admin input{
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.creazione_skipass_admin {
    width: 550px;
    height: auto;
    font-size: 20px;
    margin: 30px 300px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.9);
}

.creazione_skipass_admin input {
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
}

.creazione_skipass_admin #item_radio {
    padding: 10px 20px 10px 20px;
    display: flex;
}


#centro {
    text-align: center;
}

#rinnovo {
    width: 200px;
    border-radius: 6px;
    border: 1px solid grey;
    height: 30px;
}

.form_rinnovo {
    margin-left: 100px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    width: 500px;
}

.rinnovo {
    display: flex;
}